/********** General ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

/*********** Header **************/
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: white;
    align-items: center;
    height: 60px;
    border-bottom: rgb(214, 214, 214);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: background-color .4s;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.122);
}

header .left {
    display: flex;
    gap: 20px;
    align-items: center;
}

header hr {
    border: 1px solid #0067a4;
    height: 35px;
    transition: border .4s;
}

header ul {
    display: flex;
    gap: 20px;
}

header nav a {
    transition: color .4s;
    color: #0067a4;
}

header .logo {
    width: 120px;
    filter: invert(100%);
}

header .left > a {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    width: max-content;
    transition: all .4s;
    background-color: #0067a4;
}

header .left > a:hover {
    background-color: white;
    color: rgb(26, 77, 241);
}

header > button {
    display: none;
    background-color: transparent;
}

header > button img {
    width: 30px;
}

/******** Menu ********/
.menu {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 3;
}

.menu.active {
    display: flex;
}

.menu > img {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
}

.menu a {
    color: #0067a4;
}

.menu h2 {
    font-size:  40px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    font-size: 25px;
}

/******** Banner *********/
.banner {
    background: url("../../rg/img/banner-web.014b69706a6f393df12a.png");
    width: 90%;
    height: 300px;
    background-size: cover;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 100px;
    background-position: center;
}

/********* Formik **********/
.formik {
    display: flex;
    margin: 60px auto;
    width: 80%;
    gap: 40px;
}

.formik > div {
    width: 50%;
}

.formik > div:nth-child(2) {
    background: rgb(223, 223, 223);
    border-radius: 20px;
    padding: 20px 25px;
}

.formik h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.formik h3 {
    margin-bottom: 20px;
}

.formik form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formik input {
    height: 45px;
    border-radius: 20px;
    border: 1px solid rgb(201, 199, 199);
    padding: 10px 15px;
    font-size: 15px;
}

.formik .politica {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formik button {
    background-color: #0067a4;
    color: white;
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 20px;
    width: fit-content;
}

/********* Footer ***********/
footer {
    width: 100%;
    background-color: #0067a4;
    padding: 40px 80px;
    padding-bottom: 0;
    color: white;
}
footer .top {
    display: flex;
    position: relative;
}

footer .top img {
    width: 110px;
}

footer .top hr {
    border: 1px solid white;
}

footer .top > div {
    padding: 5px 15px;
    width: 250px;
}

footer .top h3 {
    margin-bottom: 20px;
}

footer .redes {
    position: absolute;
    right: 0;
}

footer .redes img {
    filter: invert(100%);
    margin-right: 10px;
    width: 30px;
}

footer .foot {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 15px;
    color: rgb(231, 230, 230);
}

/********** Querys ***********/
@media (max-width: 1300px) {
    /********** Header **********/
    header > button {
        display: block;
    }

    header .left {
        display: none;
    }
}

@media (max-width: 1100px) {
    /********* Footer **********/
    footer .top {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    footer .redes {
        position: relative;
    }
}

@media (max-width: 1000px) {
    /********* Formik ***********/
    .formik {
        flex-direction: column;
    }

    .formik > div {
        width: 100%;
    }
}

@media (max-width: 850px) {
    /********* Header *********/
    header {
        padding: 0 10px;
    }

    /********* Footer ***********/
    footer .foot {
        flex-direction: column;
        text-align: center;
        line-height: 30px;
    }
}

@media (max-width: 670px) {
    /********* Footer *********/
    footer {
        padding: 40px 10px;
        padding-bottom: 10px;
    }

    /********* Formik ***********/
    .formik {
        width: 90%;
    }
}

@media (max-width: 480px) {
    /************* Footer ****************/
    footer .top {
        justify-content: center;
    }

    footer .top > div {
        width: 100%;
        text-align: center;
    }

    footer hr {
        display: none;
    }
}